.form-one {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.form-one__basic {
  font-family: 'PT Sans', sans-serif;
  color: #0A2745;
  background-color: #DED9DC;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #646C75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  width: 350px;
  margin: 10px; }
  .form-one__basic h4 {
    font-size: 23px;
    border-bottom: 1px solid #A4ADB0;
    padding-bottom: 8px;
    margin-bottom: 8px; }
  .form-one__basic .blah a {
    float: right; }
  .form-one__basic form {
    border-bottom: 1px solid #A4ADB0;
    padding-bottom: 8px;
    margin-bottom: 8px; }
  .form-one__basic .form-one__field {
    border: 1px solid #A4ADB0;
    font-size: 14px;
    margin: 6px 0px;
    padding: 6px;
    width: 100%; }
  .form-one__basic .form-one__submit {
    background-color: #16718C;
    color: #0A2745;
    font-size: 20px;
    padding: 4px;
    width: 100%;
    border: none; }
  .form-one__basic a {
    text-decoration: none;
    color: #16718C; }

.style-class-one {
  background-color: #E6DDBC;
  font-family: 'Quattrocento', serif;
  color: #262525;
  background-color: #E6DDBC;
  border: 1px solid #262525; }
  .style-class-one h4 {
    border-bottom: 1px solid #525252; }
  .style-class-one form {
    border-bottom: 1px solid #525252; }
  .style-class-one .form-one__field {
    border: 1px solid #525252; }
  .style-class-one .form-one__submit {
    background-color: #822626;
    color: #262525; }
  .style-class-one a {
    color: #822626; }

.style-class-two {
  background-color: red; }

.style-class-three {
  background-color: blue; }

.form-two {
  background-color: #ddd; }

.form-two {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.form-two__basic {
  font-family: "Share Tech Mono";
  color: #4169E1;
  background-color: #ECECEE;
  border: 4px solid #4169E1;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  width: 350px;
  margin: 10px; }
  .form-two__basic h4 {
    font-size: 23px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    text-align: center; }
  .form-two__basic .blah a {
    float: right; }
  .form-two__basic form {
    padding-bottom: 8px;
    margin-bottom: 8px; }
  .form-two__basic input[type=text], .form-two__basic .form-two--signup input[type=submit], .form-two--signup .form-two__basic input[type=submit] {
    border: none;
    background-color: #4169E1;
    border-bottom: 2px solid #283198;
    border-right: 2px solid #283198;
    color: #ECECEE;
    font-size: 14px;
    margin: 6px 0px;
    padding: 6px;
    width: 100%;
    transition: ease-in-out, background-color .10s ease-in-out; }
  .form-two__basic input[type=text]:focus, .form-two__basic .form-two--signup input[type=submit]:focus, .form-two--signup .form-two__basic input[type=submit]:focus {
    outline: none;
    background-color: #283198; }
  .form-two__basic input[type=submit] {
    background-color: #ECECEE;
    border: 4px solid #4169E1;
    color: #4169E1;
    font-size: 20px;
    padding: 4px;
    width: 100%; }
  .form-two__basic a {
    text-decoration: underline;
    color: red; }

.form-two--signup {
  border: none;
  border-bottom: 3px solid #820805;
  border-right: 3px solid #820805;
  background-color: #B5191D;
  color: #ECECEE; }
  .form-two--signup input[type=text], .form-two--signup input[type=submit] {
    border: none;
    background-color: #ECECEE;
    border-bottom: 3px solid #820805;
    border-right: 3px solid #820805;
    color: #820805; }
  .form-two--signup input[type=text]:focus, .form-two--signup input[type=submit]:focus {
    outline: none;
    background-color: #ECECEE; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin: 0; }

.navbar {
  position: fixed;
  background-color: blue;
  width: 100%;
  height: 60px; }

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }

.about {
  background-color: #30383B;
  color: red;
  padding: 10rem 0; }

.form-content {
  display: flex;
  flex-direction: row;
  /* margin-top: 6rem;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto; */
  width: 50%;
  height: 50%;
  /* align-items: center;
  justify-content: center;
  flex-direction: column; */ }
  .form-content h1 {
    color: #B2BCC8;
    font-family: 'Hind', sans-serif;
    font-size: 56px; }
  .form-content p {
    color: #B2BCC8;
    font-family: 'Hind', sans-serif; }

.form-content__title {
  display: flex;
  width: 35%;
  height: 200px;
  padding: 10px; }

.form-content__description {
  display: flex;
  width: 60%;
  height: 200px;
  padding: 10px; }

/*# sourceMappingURL=style.css.map */
