.form-b {
    background-color: #ddd;
}

.form-b {
    // background-color: $dark-gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-b__basic {
    font-family: 'Share Tech Mono', ;
    color: $dark-blue;
    background-color: $white;
    border: 4px solid $dark-blue;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    width: 350px;
    margin: 10px;
    
    h4 {
        font-size: 23px;
        padding-bottom: 8px;
        margin-bottom: 8px;
        text-align: center;
    }
    
    .blah a {
        
        float: right;
    }
    
    
    form {
    
        
        padding-bottom: 8px;
        margin-bottom: 8px;
        
        // input {
        // border: none;
        // padding: 10px 0px;
        // }
    
    }
    
    input[type=text] {
       border: none;
       background-color: $dark-blue;
       border-bottom: 2px solid $light-blue;
       border-right: 2px solid $light-blue;
       color: $white;
       font-size: 14px;
       margin: 6px 0px;
       padding: 6px;
       width: 100%;
       transition: ease-in-out, background-color .10s ease-in-out;
       
    }
    
    input[type=text]:focus {
        outline:none;
        background-color: $light-blue;
        
    }
   
    input[type=submit] {
       background-color: $white;
       border: 4px solid $dark-blue;
       color: $dark-blue;
       font-size: 20px;
       padding: 4px;
       width: 100%;
       
   }
   
   a {
       text-decoration: underline;
       color: red;
       
   }
   

}


.form-b--signup{
    
    border: none;
    border-bottom: 3px solid $dark-red;
    border-right: 3px solid $dark-red;
    background-color: $light-red;
    color: $white;
    
    input[type=text]{
        border: none;
        background-color: $white;
        border-bottom: 3px solid $dark-red;
        border-right: 3px solid $dark-red;
        color: $dark-red;
    }
    
    input[type=submit]{
        @extend input[type=text];
    }
    
    input[type=text]:focus {
    outline:none;
    background-color: $white;
        
    }
}
