.form-one {
    // background-color: $form-one-border;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-one__basic {
    font-family: 'PT Sans', sans-serif;
    color: $form-one-text;
    background-color: $form-one-background;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid $form-one-border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    width: 350px;
    margin: 10px;
    
    h4 {
        font-size: 23px;
        border-bottom: 1px solid $form-one-inner-border;
        padding-bottom: 8px;
        margin-bottom: 8px;
    }
    
    .blah a {
        
        float: right;
    }
    
    
    form {
    
        border-bottom: 1px solid $form-one-inner-border;
        padding-bottom: 8px;
        margin-bottom: 8px;
        
        // input {
        // border: none;
        // padding: 10px 0px;
        // }
    
    }
    
   .form-one__field {
       border: 1px solid $form-one-inner-border;
       font-size: 14px;
       margin: 6px 0px;
       padding: 6px;
       width: 100%;
   }
   
//   .form-one__password {
//       @extend .form-one__username;
//   }
   
   .form-one__submit {
       background-color: $form-one-button-link;
       color: $form-one-text;
       font-size: 20px;
       padding: 4px;
       width: 100%;
       border: none;
   }
   
   a {
       text-decoration: none;
       color: $form-one-button-link;
       
   }
}

.style-buttons {
    
}





.style-class-one {
    background-color: $form-two-background;
    font-family: 'Quattrocento', serif;
    color: $form-two-text;
    background-color: $form-two-background;
    border: 1px solid $form-two-border;
    
    h4 {
        border-bottom: 1px solid $form-two-inner-border;
    }

    form {
        border-bottom: 1px solid $form-two-inner-border;

    }
    
   .form-one__field {
       border: 1px solid $form-two-inner-border;
   }
   
//   .form-one__password {
//       @extend .form-one__username;
//   }
   
   .form-one__submit {
       background-color: $form-two-button-link;
       color: $form-two-text;
   }
   
   a {
       color: $form-two-button-link;
       
   }

}

.style-class-two {
    background-color: red;
}

.style-class-three {
    background-color: blue;
}

// .style-class-three {
//     background-color: green;
// }

// .style-class-two {
//     background-color: orange;
// }
// .style-class {
//     background-color: red;
// }