$burgundy: #591311;
$deep-green: #30383B;
$blue: #82A4BD;
$pale-blue: #B2BCC8;

// FORM ONE

$dark-gray: #646C75;
$med-gray: #A4ADB0;
$light-gray: #DED9DC;
$turquoise: #16718C;
$navy: #0A2745;


//FORM TWO

$white: #ECECEE;
$dark-blue: #4169E1;
$light-blue: #283198;
$light-red: #B5191D;
$dark-red: #820805;
