$burgundy: #591311;
$deep-green: #30383B;
$blue: #82A4BD;
$pale-blue: #B2BCC8;

// FORM ONE

$form-one-border: #646C75;
$form-one-inner-border: #A4ADB0;
$form-one-background: #DED9DC;
$form-one-button-link: #16718C;
$form-one-text: #0A2745;



$form-two-border: #262525;
$form-two-inner-border: #525252;
$form-two-background: #E6DDBC;
$form-two-button-link: #822626;
$form-two-text: #262525;



//FORM TWO

$white: #ECECEE;
$dark-blue: #4169E1;
$light-blue: #283198;
$light-red: #B5191D;
$dark-red: #820805;
