$burgundy: #591311;
$deep-green: #30383B;
$blue: #82A4BD;
$pale-blue: #B2BCC8;

// FORM a

$form-a-border: #646C75;
$form-a-inner-border: #A4ADB0;
$form-a-background: #DED9DC;
$form-a-button-link: #16718C;
$form-a-text: #0A2745;



$form-b-border: #262525;
$form-b-inner-border: #525252;
$form-b-background: #E6DDBC;
$form-b-button-link: #822626;
$form-b-text: #262525;



//FORM b

$white: #ECECEE;
$dark-blue: #4169E1;
$light-blue: #283198;
$light-red: #B5191D;
$dark-red: #820805;
