@import 'variables'; 
@import 'form-a';
@import 'form-b';
@import 'form-d';

@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie);
@import url(https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);
@import url(https://fonts.googleapis.com/css?family=Sumana);

@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);


@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-row {
    -webkit-flex-direction: row;
    flex-direction: row;    
}

@mixin flex-column {
    -webkit-flex-direction: column;
    flex-direction: column;    
}

@mixin flex-row-reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;    
}

@mixin flex-column-reverse {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;    
}



html {
  box-sizing: border-box;
}

input[type=text]:focus {
    box-shadow: none;
    
    outline: none;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    //-webkit-font-smoothing: antialiased;

}


.main__head {
    @include flex;
    @include flex-column;
    justify-content: center;
    align-items: center;
    background-color: #000020;
    height: 100vh;
}

#name {
    @include flex;
    @include flex-column;
    opacity: 1;
}

#shawn {
    position: relative;
    right: 55px;
    bottom: 50px;
    opacity: 0;
}

#sten {
    position: relative;
}

#house {
    position: relative;
}

img {
    position: relative;
}

#last-name {
    @include flex;
    @include flex-row;
    position: relative;
    right: -65px;
    bottom: -50px;
    opacity: 0;
}

.links {
    color: white;
    ul {
        a {
            color: #FAFAFA;
            text-decoration: none;
            

        }
        
        li {
            opacity: 0;
            display: inline-block;
            list-style: none;
            font-size: 20px;
            
            
            
            -webkit-transition: background-color 0.5s;
            transition: background-color 0.5s;
            
            
            padding: 10px 30px;
            border-radius: 2px;
        }
        
        li:hover {
            background-color: rgba(204, 68, 0, 0.75);
            
            cursor: pointer;
        }
    }
}


.contact {
    min-height: 100vh;
    background-color: #000010;
    
    img {
        padding: 30px;
    }
}






//
.form-content {
    display: flex;
    flex-direction: row; 
    /* margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto; */
    width: 50%;
    height: 50%; 
    
    
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
    
    
    h1 {
    color: $pale-blue;
    font-family: 'Hind', sans-serif;
    font-size: 56px;
    //line-height: 112%;
    }
    
    p {
    color: $pale-blue;
    font-family: 'Hind', sans-serif;    
    }
}

.form-content__title {
    display: flex;
    width: 35%;
    height: 200px;
    padding: 10px;
    }
    
.form-content__description {
    display: flex;
    width: 60%;
    height: 200px;
    padding: 20px;    
}


// FORM C _-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-


.form-c {
    background-color: #353535;
    font-family: 'Amatic SC', serif;
    font-size: 17px;

    
}

.form-c__basic {
    background-color: #182904;
    border: 3px solid #152503;
    color: #E17D25;
    -webkit-font-smoothing: antialiased;
    width: 410px;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    
    background-color: #0B031D;
    border: 3px solid #070331;

    
    h4 {
        margin: auto;
        font-size: 45px;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #1B3004;
        padding-bottom: 20px;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 20px;
        
        border-bottom: 2px solid #042730;
    }
    
    input {
        font-size: 20px;
        color: #ddd;
        padding: 5px 5px 5px 5px;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
    input::selection {
        background-color: #FAD961;
        
    }
    
    input[type=text] {
        width: 80%;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
    }
    
    input[type=text]:focus {
        background-color: #E17D25;
        background-color: #FAD961;
        color: #182904;
    }
    
    input[type=submit] {
        color: #222;
        border: none;
        font-weight: bold;
        padding: 5px;
        background-color: #FAD961;
        width: 50%;
        margin: auto;
    }
    
    input[type=submit]:focus {
        padding: 0 10px;
        
    }
    
    a {
        color: #ddd;
    }
    
    a:hover {
        color: #FAD961;
        text-decoration: none;
    }
    
    form {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #FAD961;
        display: flex;
        align-items: center;
    }
    
    p {
       margin: 0; 
        text-align: center;
    }
    
    label {
        margin: 5px 0;
    }
}



.form-c__field {
    border: none;
    border-bottom: 2px solid #E17D25;
    background-color: #1B3004;
    font-size: 14px;
    margin: 5px 0;
    
    background-color: #042730;
    
}

// .fields {
//     width: 100%;
// }


