@import 'variables'; 
@import 'form-a';
@import 'form-b';

@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

html {
  box-sizing: border-box;
}

input[type=text]:focus {
    box-shadow: none;
    outline: none;
}

*, *:before, *:after {
    box-sizing: inherit;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin: 0;
}

.navbar {
    position: fixed;
    background-color: blue;
    width: 100%;
    height: 60px;
    
}


.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}



.about {
    background-color: $deep-green;
    color: red;
    padding: 10rem 0;

}


.form-content {
    display: flex;
    flex-direction: row; ;
    /* margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto; */
    width: 50%;
    height: 50%; 
    
    
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
    
    
    h1 {
    color: $pale-blue;
    font-family: 'Hind', sans-serif;
    font-size: 56px;
    //line-height: 112%;
    }
    
    p {
    color: $pale-blue;
    font-family: 'Hind', sans-serif;    
    }
}

.form-content__title {
    display: flex;
    width: 35%;
    height: 200px;
    padding: 10px;
    }
    
.form-content__description {
    display: flex;
    width: 60%;
    height: 200px;
    padding: 20px;    
}





// FORM b




//INDEX

.main__title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    
    background-color: #000019; // navy
    border-bottom: 9px solid #E32F23;
    
    h1 {
    font-family: 'Abel', sans-serif;
    font-size: 150px;
    color: #F1F2D1; //ba 
    text-transform: uppercase;
    }
    
    h2 {
        font-family: 'Abel', sans-serif;
        font-size: 50px;
        color: #F1F2D1;
    }
}



// FORM D _-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-/_-


.form-d {
    background-image: url('../forest_bg.jpg');
    font-family: 'Poiret One', cursive;
    font-size: 17px;
}

.form-d__basic {
    background-color: rgba(0,0,0,0.6);
    margin: 10px;
    color: #DDD;
    
    h4 {
        margin: auto;
        font-size: 35px;
    }
    
    input {
        font-size: 20px;
        padding: 5px 5px 0 5px;
    }
    
    input[type=submit] {
        color: #222;
        border: none;
        font-weight: bold;
        padding: 5px;
    }
    
    input[type=submit]:focus {
        padding: 0 10px;
    }
    
    a {
        font-weight: bold;
    }
    
}

.form-d__basic form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.form-d__field {
    border: none;
    border-bottom: 2px solid #EEE;
    background: none;
    font-size: 14px;
    margin: 5px 0;
    
}